.main-holder-cards-shopping {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.each-cards {
    display: flex; 
    flex-basis: calc(50% - 20px);  
    margin: 10px;
    /* border: 1px solid black; */
}


.each-cards img{
    height: 50%;
    width: 50%;
    margin: auto;
}

/* .each-cards img{
    height: 420px;
    width: 340px;
} */

.main-shopping {
    text-align: center;
}

/* .item-details {
    display: flex;
} */

.item-name {
    word-wrap: normal;
}

.input-type {
    width: 2%;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}