.main-holder-cards-shopping {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.each-cards {
    display: flex; 
    flex-basis: calc(50% - 20px);  
    margin: 10px;
    /* border: 1px solid black; */
}


.each-cards img{
    height: 100%;
    width: 100%;
}

/* .each-cards img{
    height: 420px;
    width: 340px;
} */

.main-shopping {
    text-align: center;
}

/* .item-details {
    display: flex;
} */

.item-name {
    word-wrap: normal;
}